/* body{
    background-color: red;
}

form{
    background-color: white;
    text-align: center;
    width: 40vw;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    display: block;
    margin: auto;
   
}
.form{
    background-color: aqua;
    width: 60vw;
    height: 30vh;
    display: block;
    margin: auto;
    
}
legend{
    align-self: center;
    margin: auto;
    display: block;
} */


  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero-image {
    background-image: url("assets/images/hero.png");
    height: 500px;
    width: 100%;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  nav{
      border-bottom: 1px dotted white;
      background-color: #1b5557;
      background-image: none;
  }
  .container-fluid{
      background-color: #1b5557;
      padding: 0%;
      margin: 0%;
      display: flex;
      justify-content: center;
  }

  .shop{
      height: 40px;
      width:100px;
      background-color: #1b5557;
      border-radius: 30px;
      color: white;
      border: 2px solid white;
      font-size: small;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-around;
    }