body{
    background-color: red;
}

form{
    background-color: white;
    text-align: center;
    width: 40vw;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}
.form{
    background-color: aqua;
    width: 60vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
legend{
    align-self: center;
    margin: auto;
    display: block;
}